/******** Global / General Styles ********/
/******** Including padding/border for object widths ********/
* {
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333; }

html, body {
  margin: 0; }

/******** Links ********/
a, a:link, a:visited {
  text-decoration: none;
  color: #7E8383; }

a:hover {
  text-decoration: underline; }

/**** Header ****/
header {
  background: #F5F5F5;
  display: flex;
  justify-content: space-between;
  padding: .25em 2em;
  width: 100%; }
  header .logo {
    height: 60px; }
  header .links {
    display: flex;
    align-items: center; }
  header .notify img, header .help img, header .account {
    height: 30px;
    margin-left: 2em; }
  header .account {
    display: block;
    margin-top: .5em; }

/**** Content Styles ****/
main {
  max-width: 1100px;
  margin: 0 auto; }
  main p {
    line-height: 1.75em;
    padding-bottom: 1.5em;
    margin: 1.5em 0;
    border-bottom: 1px solid #CCC; }
  main p.description {
    border: none; }

.banner {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #CCC;
  margin: 2em 0 0 0; }
  .banner h1, .banner h2 {
    font-size: 1em;
    padding: 1.5em; }
  .banner h1 {
    padding-left: 0; }
  .banner h2:first-of-type {
    border: 1px solid #CCC;
    border-width: 0 1px 0 1px; }
  .banner h2:last-of-type {
    padding-right: 0; }

/******** Headings *********/
h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }
  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-weight: normal; }

/**** Form styles ****/
.answerOptions label {
  display: block;
  margin: .75em 1.5em; }
  .answerOptions label input {
    display: inline-block;
    margin-right: .5em; }

.dropDown, .points {
  text-align: right;
  display: block;
  margin: 1em 0; }

.dropDown {
  position: relative;
  /**** Removing default browser styles ****/ }
  .dropDown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: #D9D9D9;
    padding: .5em 2.5em .5em 1em;
    font-size: 1em; }

.dropDown:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #333; }

/**** Button Styles *******/
/** Removing default browser styles **/
input[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none; }

.button, input[type='button'], a.button {
  padding: .75em 1.5em;
  background: #367799;
  color: #FFF;
  font-size: 1em;
  border-radius: 5px; }

.button:hover, input[type='button']:hover, a.button:hover {
  background: #295871;
  cursor: pointer; }

/**** Quiz specific styles ****/
.quiz {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 12em; }
  .quiz .video {
    flex: 0 1 auto; }
    .quiz .video img {
      width: 100%;
      max-width: 720px; }
  .quiz .quizContent {
    color: #666;
    border: 1px solid #CCC; }
    .quiz .quizContent h3.question {
      background: #F4F3F3;
      padding: 1em 1.5em;
      font-size: 1em;
      font-weight: normal; }
    .quiz .quizContent p {
      border: none;
      padding: 0 1.5em; }
    .quiz .quizContent input[type='button'] {
      position: absolute;
      bottom: 1em;
      right: 1em; }
